body {
    background-color: #EFF5EB;
    color: #74442A;
    font-size: 100%;
    
}

.container{
    width: 1400px;
    border-style: solid;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    vertical-align: middle
}

.content-left {
    float: left;
    vertical-align: middle;
    width: 45%;
    height: 800px;
    border-right: 2px solid;

}

.content-right {
    display: flow-root;
    vertical-align: middle;
    width: 45%;
    height: 800px;
    margin: auto;
    align-items: center;
}

img {
    border-width: 1px;
    border-color: #724B36;
    border-style: solid;
    box-shadow: 10px 10px 10px #aea19467;
    margin-left: 5%;
    margin-top: 10%;
}

a {
    color: #2B2973;
    font-size: 1.2em;
}

h1{
    font-size: 3em;
    margin-top: 30px;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;  
}

p, ul, ol {
    width: 500px;
}